/***** UNIVERSAL *****/

.wrap {
  position: relative;
  margin: 0 auto;
}
body {
  font-family: 'oswald', sans-serif;
  text-align: center;
  color: #1a1a1a;
}
h3 {
  font-size: 34px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 20px;
}
p, 
h2 {
  font-family: 'source sans pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.row {
  width: 100%;
  margin: 0;
}

/***** NAVIGATION PANEL *****/

.panel {
  position: relative;
  right: -14em; /*left or right and the width of your navigation panel*/
  width: 15.625em; /*should match the above value*/
  background-color: #333333;
  height: 100%;
  text-align: center;
  z-index: 100;
}
.panel img {
  margin-top: 50px;
  margin-bottom: 50px;
}
.panel ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.panel li {
  padding: 15px 0;
  width: 100%;
  border-top: 1px solid #444444;
}
.panel a {
  color: #fff;
  text-decoration: none;
  font-family: 'source sans pro', sans-serif;
  font-size: 18px;
  padding-left: 23px;
}
.panel a:hover {
  color: #cfb53b;
}
.social {
  padding-bottom: 15px;
  margin: 0 auto;
  position: fixed;
  bottom: 5px;
}
.social img {
  display: inline-block;
  padding: 0 5px;
  position: relative;
  bottom: 0;
  height: 32px;
  margin: 0;
}
.social a {
  padding-left: 0;
}
.social a:first-child {
  margin-left: 22px;
}

/***** NAVIGATION BAR *****/

.mainNav {
  z-index: 100;
}
.mainNav {
  border-bottom: 5px solid #1a1a1a;
  height: 105px;
  line-height: 105px;
  padding: 10px 0;
  width: 100%;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  -o-transition: height 0.8s;
  transition: height 0.8s;
}
.mainNav img {
  height: 80px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
#navIcon {
  width: 65px;
  height: 65px;
  position: relative;
  margin: 8px auto;
  border: 2px solid #1a1a1a;
  border-radius: 50%;
  text-align: center;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  
  transform: rotate(0deg);
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  cursor: pointer;
}
#navIcon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 32px;
  background: #1a1a1a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
#navIcon span:nth-child(1) {
  top: 22px;
  left: 14px;
}
#navIcon span:nth-child(2), 
#navIcon span:nth-child(3) {
  top: 30px;
  left: 14px;
}
#navIcon span:nth-child(4) {
  top: 38px;
  left: 14px;
}
#navIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#navIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#navIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#navIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.navShrink {
  height: 75px;
  line-height: 75px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a1a1a;
}
.navShrink img {
  height: 55px;
}
.navShrink #navIcon {
  width: 41px;
  height: 41px;
  position: relative;
  margin: 10px auto;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  cursor: pointer;
}
.navShrink #navIcon span:nth-child(1) {
  top: 14px;
  left: 9px;
}
.navShrink #navIcon span:nth-child(2), 
.navShrink #navIcon span:nth-child(3) {
  top: 19px;
  left: 9px;
}
.navShrink #navIcon span:nth-child(4) {
  top: 24px;
  left: 9px;
}
.navShrink #navIcon span {
  height: 1px;
  width: 21px;
  background: #fff;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.mainNav .logoWhite {
  display: none;
}
.navShrink .logoDark {
  display: none;
}
.navShrink .logoWhite {
  display: inline-block;
  float: left;
}

/***** CTA *****/

#gradient {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.cta {
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 65px;
  font-weight: 900;
  color: #fff;
  padding-bottom: 20px;
  line-height: 45px;
}
h2, 
.quest p {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 35px;
}
.cta img {
  width: 50px;
  margin-top: 100px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.cta img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.quest a {
  padding: 8px 35px;
  border-radius: 15px;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  font-weight: 300;
  text-decoration: none;
}
.quest a:hover {
  border: 2px solid #cfb53b;
  color: #cfb53b;
}
.imgMobile {
  display: none;
}

/***** PORTFOLIO *****/

.portfolio,
.contact,
.skills {
  padding: 150px 0;
}
.portfolio img {
  width: 100%;
}
.portfolio p {
  padding-bottom: 20px;
}
.portRow {
  margin: 150px 0;
}
.portRowLast {
  margin-bottom: 0;
}
.workRight {
  text-align: left;
}
.workLeft {
  text-align: right;
}
.tags li {
  display: inline-block;
  background-color: #1a1a1a;
  border-radius: 3px;
  color: #fff;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
}
.tags {
  margin-bottom: 40px;
}
.portfolio a, 
.quest button {
  padding: 8px 35px;
  border-radius: 15px;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  background-color: #fff;
  font-weight: 300;
  text-decoration: none;
  font-family: 'oswald', sans-serif;
  font-size: 16px;
}
.portfolio a:hover, 
.quest button:hover {
  border: 2px solid #cfb53b;
  color: #cfb53b;
}
.workLeft span,
.workRight span {
  font-style: italic;
}

/***** SKILLS *****/

#skills {
  background-color: #1a1a1a;
  color: #fff;
  background-image: url(../img/bg.png);
  background-size: cover;
  width: 100%;
}
.skills h4 {
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 24px;
}
.skills p {
  line-height: 26px;
  padding-bottom: 15px;
}
.skills {
  text-align: left;
}
.skills2 p {
  padding-bottom: 15px;
}
.skillIcon {
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  height: 65px;
  width: 65px;
  line-height: 65px;
}
.skillIcon img {
  width: 90%;
  vertical-align: middle;
}
.skillInfo {
  padding-left: 10px;
}
.skills a {
  color: #cfb53b;
  text-decoration: none;
}
.skills a:hover {
  color: #fff;
}

/***** CONTACT *****/

.quest h3 {
  margin-bottom: 50px;
}
.quest {
  margin: 0 auto;
}
.formGroup { 
  position: relative; 
  margin-bottom: 60px; 
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #1a1a1a;
}
input:focus {
  outline: none; 
}
label          {
  color: #888; 
  font-size: 18px;
  font-family: 'source sans pro', sans-serif;
  font-weight: 300;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.4s ease all; 
  cursor: text;
}
input:focus ~ label,
input:valid ~ label     {
  top: -20px;
  font-size: 14px;
  color: #1a1a1a;
}
.bar { 
  position: relative; 
  display: block; 
  width: 100%; 
}
.bar:before,
.bar:after   {
  content:'';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #1a1a1a; 
  transition: 0.4s ease all; 
}
.bar:before {
  left: 0%;
}
.bar:after {
  right: -1000%; 
}
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 100%;
}
.contact {
  overflow: hidden;
}

/***** ABOUT *****/


.aboutPic {
  background-image: url(../img/temp_pro.jpg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.hoverPic {
  background-image: url(../img/gimli.jpg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.about img {
  width: 100%;
  border-radius: 50%;
}
.about p {
  text-align: left;
  padding: 15px 0;
}
.about a {
  text-decoration: none;
  color: #cfb53b;
}
.about a:hover {
  color: #333333;
}

/***** BACK TO TOP *****/

a.toTop {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 100;
  margin-right: 50px;
  right: 50px; 
  bottom: 30px;
  background: #1a1a1a url("../img/uparrow.png") no-repeat center;
  background-size: 50px;
  border-radius: 30px;
}

/***** FOOTER *****/

footer {
  background-color: #1a1a1a;
  padding: 20px 0 50px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer img {
  height: 32px;
}
footer a {
  padding: 0 5px;
}
footer p {
  color: #fefefe;
  padding-top: 10px;
  font-size: 12px;
}
.thanksFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/***** THANK YOUR PAGE *****/

.thankYou p {
  color: #1a1a1a;
}
.thankYou h3 {
  margin-bottom: 0;
}

/***** RESPONSIVE *****/

@media all and (max-width: 768px) {
  .imgDesktop {
    display: none;
  }
  .imgMobile {
    display: block;
  }
  .portfolio img {
    width: 60%;
  }
  .workRight,
  .workLeft,
  .skills,
  .about p {
    text-align: center;
  }
  .skills {
    padding-left: 15px;
    padding-right: 15px;
  }
  .skills p:nth-of-type(4) {
    padding-bottom: 5px;
  }
  .skillIcon {
    display: none;
  }
  .aboutPic,
  .hoverPic {
    margin: 0 auto;
  }
  .about img {
    width: 40%;
    padding-bottom: 10px;
  }
} 
@media all and (max-width: 450px) {
  h1,
  h2 {
    padding-right: 25px;
    padding-left: 25px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 16px;
  }
  .cta img {
    margin-top: 25px;
  }
  .portfolio img {
    width: 80%;
  }
  .portRow {
    margin: 75px 0;
  }
  .about img {
    width: 70%;
  }
  a.toTop {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    bottom: 20px;
  }
}




















